{{define "content"}}
<main class="container">
    <h1>Your URIs</h1>
    <table>
        <thead>
            <tr>
                <th>Uri</th>
                <th>Document</th>
            </tr>
        </thead>
        <tbody>
        {{ range .uris }}
            <tr>
                <td><a href='/uris/{{ .Id }}'>/uris/{{ .Id }}</a></td>
                <td>{{ .Document }}</td>
            </tr>
        {{ end }}
        </tbody>
    </table>
    <a href="/uris/create" role="button">New URI</a>
</main>
{{end}}