{{define "content"}}
<main class="container">
    <h1><i class="fas fa-map-marker-alt"></i> Your events</h1>
    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Created</th>
                <th>Updated</th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
        {{ range .resources }}
            <tr>
                <td><a href="/resources/{{ .Uuid }}">{{ .Uuid }}</a></td>
                <td>{{ .CreatedAt }}</td>
                <td>{{ .UpdatedAt }}</td>
                <td><a href="/resources/{{ .Uuid }}/update"><i class="fas fa-pen"></i></a></td>
                <td><a href="/resources/{{ .Uuid }}/delete"><i class="fas fa-archive"></i></a></td>
            </tr>
        {{ end }}
        </tbody>
    </table>
    <a href="/resources/create" role="button"><i class="fas fa-plus-circle"></i> New event</a>
</main>
{{end}}