{{define "content"}}
<main class="container">
    <h2><i class="fas fa-map-marker-alt"></i> {{.title}}</h2>
    <form action="{{.action}}" method="POST" enctype="multipart/form-data">
        <input id="uuid" type="hidden" name="uuid" value="{{ .resource.Uuid }}">
        <label for="title">Title</label>
        {{ if .errors.title }}
        {{ range index .errors "title" }}
        <p class="error">{{ . }}</p>
        {{end}}
        {{ end }}
        <input id="title" type="text" name="title" placeholder="Title" value="{{ .resource.Title }}">
        <label for="description">Description</label>
        {{ if .errors.description }}
        {{range index .errors "description"}}
        <p class="error">{{ . }}</p>
        {{end}}
        {{ end }}
        <textarea id="description" type="text" name="description"
                  placeholder="Description">{{ .resource.Description }}</textarea>
        <label for="timestamp">Date and time</label>
        {{ if .errors.timestamp }}
        {{range index .errors "timestamp"}}
        <p class="error">{{ . }}</p>
        {{end}}
        {{ end }}
        <input id="timestamp" type="datetime-local" name="timestamp"
               min="2021-01-01T00:00" placeholder="yyyy-MM-ddThh:mm" value="{{ .resource.Timestamp }}">
        <label for="longitude">Longitude</label>
        {{ if .errors.longitude }}
        {{range index .errors "longitude"}}
        <p class="error">{{ . }}</p>
        {{end}}
        {{ end }}
        <input id="longitude" type="text" name="longitude"
               title="x.xxxxxxxx between -180 to 180"
               placeholder="Longitude"
               value="{{ .resource.Longitude }}">
        <label for="latitude">Latitude</label>
        {{ if .errors.latitude }}
        {{range index .errors "latitude"}}
        <p class="error">{{ . }}</p>
        {{end}}
        {{ end }}
        <input id="latitude" type="text" name="latitude"
               title="x.xxxxxxxx between -90 to 90"
               placeholder="Latitude"
               value="{{ .resource.Latitude }}">
        <label for="redirect">Redirection URL</label>
        {{ if .errors.redirect }}
        {{range index .errors "redirect"}}
        <p class="error">{{ . }}</p>
        {{end}}
        {{ end }}
        <input id="redirect"
               type="url"
               name="redirect"
               placeholder="http(s)://"
               value="{{ .resource.Redirect }}">

        <button type="submit"><i class="fas fa-save"></i> Save</button>
    </form>
</main>
{{ end }}