{{define "header"}}
<nav class="container-fluid">
        <ul><li><strong><a class="contrast" href="/"><i class="fas fa-map"></i> Contextual Guide</a></strong></li></ul>
        <ul>
                {{ if .user }}
                <li><a class="contrast" href="/resources"><i class="fas fa-map-marker-alt"></i> Signals</a></li>
                <li><a class="contrast" href="/tokens"><i class="fas fa-key"></i> API keys</a></li>
                <li class="primary"><i class="fas fa-user"></i> {{.user.Email}}</li>
                <li><a href="/logout"><i class="fas fa-sign-out-alt"></i> Logout</a></li>
                {{ else }}
                <li><a href="/login"><i class="fas fa-sign-in-alt"></i> Login</a></li>
                <li><a href="/register" class="contrast"><i class="fas fa-edit"></i> Register</a></li>
                {{ end }}
        </ul>
</nav>
{{end}}