{{define "content"}}
<main class="container">
    <h1>Contextual Guide</h1>
    <p>
        Contextual Guide is a place for registering the context and the circumstances that form the setting for an
        event. Events can take place in the virtual and physical world. Each event receives a stable Uniform
        Resource Identifier (URI) that can be used for referencing purposes. Events can contain arbitrary metadata
        describing context and circumstances. Additionally, events can redirect the user to the original source of
        information. Once created, events are searchable by places and by keywords.
    </p>

    <h2>Simple and stable</h2>
    <p>
        Contextual Guide aims at remaining simple and stable.
    </p>

    <h2>Integrable</h2>
    <p>
        Contextual Guide can easily integrated with other online platforms.
    </p>

    <h2>Hackable</h2>
    <p>
        Contextual Guide is open source and aims at being maintained by a community users.
    </p>
    
</main>
{{end}}