{{define "content"}}

<main class="container">
    <article>
        <img src="/resources/{{ .resource.Uuid }}/qrcode.png" alt="QRCode" style="float: right">

        <hgroup>
            <h1>{{ .resource.Title }}</h1>
            <h2><a href="/resources/{{ .resource.Uuid }}">/resources/{{ .resource.Uuid }}</a></h2>
        </hgroup>

        <p>{{ .resource.Timestamp }}</p>
        <p>{{ .resource.Description }}</p>

        <div class='map'
             data-longitude="{{ .resource.Longitude }}"
             data-latitude="{{ .resource.Latitude }}"
             style="height: 400px"></div>
    </article>
</main>

{{end}}