{{define "header"}}
<nav class="container-fluid">
        <ul><li><strong><a class="contrast" href="/">Contextual Guide</a></strong></li></ul>
        <ul>
                <li><a class="contrast" href="/resources">URIs</a></li>
                {{ if .user }}
                <li><a class="contrast" href="/tokens">My tokens</a></li>
                <li class="primary">{{.user.Email}}</li>
                | <li><a href="/logout">Logout</a></li>
                {{ else }}
                | <li><a href="/login">Login</a></li>
                | <li><a href="/register" class="contrast">Register</a></li>

                {{ end }}
        </ul>
</nav>
{{end}}